### Time Series Analysis on Facebook Prophet Model for VM 1

In [2]:
import pandas as pd
import datetime
import seaborn as sns

In [3]:
from fbprophet import Prophet

In [4]:
from pandas import DataFrame
from pandas import to_datetime

In [5]:
df=  pd.read_csv('/content/ProcessedData.csv')
df.head()

                  Time  ...  Network transmitted throughput [KB/s]
0  2013-06-30 22:03:24  ...                               1.466667
1  2013-06-30 22:08:24  ...                               1.000000
2  2013-06-30 22:13:24  ...                               1.066667
3  2013-06-30 22:18:24  ...                               1.000000
4  2013-06-30 22:23:24  ...                               1.000000

[5 rows x 12 columns]

Calculating Memory Usage %

In [6]:
df['Memory usage [%]']=(df['Memory usage [KB]'].div(df['Memory capacity provisioned [KB]']))*100
df.head()

                  Time  ...  Memory usage [%]
0  2013-06-30 22:03:24  ...         12.588394
1  2013-06-30 22:08:24  ...          5.579711
2  2013-06-30 22:13:24  ...          2.245485
3  2013-06-30 22:18:24  ...          0.952620
4  2013-06-30 22:23:24  ...          2.041364

[5 rows x 13 columns]

Preparing Data to build the model

In [7]:
df_pr = df[['Time','CPU usage [%]']]

df_pr.columns = ['ds','y'] # To use prophet column names should be like that

train_data_pr = df_pr.iloc[:len(df)-5000]
test_data_pr = df_pr.iloc[len(df)-5000:]

Splitting data into train and test

In [8]:
train_data_pr.head()

                    ds         y
0  2013-06-30 22:03:24  1.500000
1  2013-06-30 22:08:24  0.500000
2  2013-06-30 22:13:24  0.466667
3  2013-06-30 22:18:24  0.400000
4  2013-06-30 22:23:24  0.333333

In [9]:
test_data_pr.head()

                        ds         y
20220  2013-09-12 11:50:05  0.500000
20221  2013-09-12 11:55:05  0.500000
20222  2013-09-12 12:00:05  2.166667
20223  2013-09-12 12:05:05  1.800000
20224  2013-09-12 12:10:06  1.900000

Building FB Prophet Model on the trained data

In [10]:
model = Prophet()
model.fit(train_data_pr)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.

In [11]:
future = model.make_future_dataframe(periods=3,freq='MS')
prophet_pred = model.predict(future)
prophet_pred.tail()

                       ds     trend  ...  multiplicative_terms_upper      yhat
20218 2013-09-12 11:40:05  1.404918  ...                         0.0  1.950853
20219 2013-09-12 11:45:05  1.405173  ...                         0.0  1.970268
20220 2013-10-01 11:45:05  2.802033  ...                         0.0  3.360662
20221 2013-11-01 11:45:05  5.081120  ...                         0.0  5.458359
20222 2013-12-01 11:45:05  7.286688  ...                         0.0  7.673909

[5 rows x 19 columns]

In [12]:
prophet_pred.head()

                   ds     trend  ...  multiplicative_terms_upper      yhat
0 2013-06-30 22:03:24  0.343617  ...                         0.0  0.097575
1 2013-06-30 22:08:24  0.351670  ...                         0.0  0.095979
2 2013-06-30 22:13:24  0.359723  ...                         0.0  0.093991
3 2013-06-30 22:18:24  0.367776  ...                         0.0  0.091673
4 2013-06-30 22:23:24  0.375829  ...                         0.0  0.089091

[5 rows x 19 columns]

In [13]:
len(prophet_pred)

20223

In [14]:
splitpred=prophet_pred.iloc[len(prophet_pred)-5000:]
len(splitpred)

5000

Evaluation Metrics

MAE

In [15]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(test_data_pr['y'], splitpred['yhat'])

1.674107389679477

RMSE

In [16]:
from sklearn.metrics import mean_squared_error
from math import sqrt
rmse=sqrt(mean_squared_error(test_data_pr['y'], splitpred['yhat']))
rmse

2.406983960715526

Building Model for Forecast

In [17]:
m1 = Prophet(daily_seasonality=True)
m1.fit(train_data_pr)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.

In [18]:
future1 = m1.make_future_dataframe(periods=2160, freq='H')
forecast1 = m1.predict(future1)
forecast1.tail()

                       ds     trend  ...  multiplicative_terms_upper      yhat
22375 2013-12-11 07:45:05  8.009624  ...                         0.0  8.586864
22376 2013-12-11 08:45:05  8.012687  ...                         0.0  8.743195
22377 2013-12-11 09:45:05  8.015750  ...                         0.0  8.693179
22378 2013-12-11 10:45:05  8.018814  ...                         0.0  8.631884
22379 2013-12-11 11:45:05  8.021877  ...                         0.0  8.759108

[5 rows x 19 columns]

In [19]:
forecast1.head()

                   ds     trend  ...  multiplicative_terms_upper      yhat
0 2013-06-30 22:03:24  0.343617  ...                         0.0  0.097575
1 2013-06-30 22:08:24  0.351670  ...                         0.0  0.095979
2 2013-06-30 22:13:24  0.359723  ...                         0.0  0.093991
3 2013-06-30 22:18:24  0.367776  ...                         0.0  0.091673
4 2013-06-30 22:23:24  0.375829  ...                         0.0  0.089091

[5 rows x 19 columns]

In [20]:
len(forecast1)

22380

In [23]:
split=forecast1.iloc[len(forecast1)-2160:]
split.head()

                       ds     trend  ...  multiplicative_terms_upper      yhat
20220 2013-09-12 12:45:05  1.408236  ...                         0.0  2.291424
20221 2013-09-12 13:45:05  1.411299  ...                         0.0  2.598014
20222 2013-09-12 14:45:05  1.414363  ...                         0.0  2.631008
20223 2013-09-12 15:45:05  1.417426  ...                         0.0  2.307661
20224 2013-09-12 16:45:05  1.420489  ...                         0.0  1.793925

[5 rows x 19 columns]

In [28]:
fbpredictedcpu = pd.DataFrame(split, columns=['ds'])
fbpredictedcpu = fbpredictedcpu.rename({'ds': 'Timestamp'}, axis=1)
fbpredictedcpu ['predicted_cpu_usage [%]' ] = split[['yhat']]
fbpredictedcpu

                Timestamp  predicted_cpu_usage [%]
20220 2013-09-12 12:45:05                 2.291424
20221 2013-09-12 13:45:05                 2.598014
20222 2013-09-12 14:45:05                 2.631008
20223 2013-09-12 15:45:05                 2.307661
20224 2013-09-12 16:45:05                 1.793925
...                   ...                      ...
22375 2013-12-11 07:45:05                 8.586864
22376 2013-12-11 08:45:05                 8.743195
22377 2013-12-11 09:45:05                 8.693179
22378 2013-12-11 10:45:05                 8.631884
22379 2013-12-11 11:45:05                 8.759108

[2160 rows x 2 columns]

FB Prophet for Memory Usage

In [29]:
df_mem = df[['Time','Memory usage [%]']]

df_mem.columns = ['ds','y'] # To use prophet column names should be like that

train_data_mem = df_mem.iloc[:len(df)-5000]
test_data_mem = df_mem.iloc[len(df)-5000:]

In [30]:
train_data_mem.head()
len(train_data_pr)

20220

In [31]:
test_data_mem.head()
len(test_data_pr)

5000

In [32]:
modelmem = Prophet()
modelmem.fit(train_data_mem)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.

In [33]:
future1 = modelmem.make_future_dataframe(periods=3,freq='MS')
prophet_predmem = modelmem.predict(future)
prophet_predmem.tail()

                       ds      trend  ...  multiplicative_terms_upper       yhat
20218 2013-09-12 11:40:05   2.879534  ...                         0.0   3.631953
20219 2013-09-12 11:45:05   2.879900  ...                         0.0   3.650142
20220 2013-10-01 11:45:05   4.883537  ...                         0.0   5.849093
20221 2013-11-01 11:45:05   8.152628  ...                         0.0   9.047838
20222 2013-12-01 11:45:05  11.316266  ...                         0.0  11.212410

[5 rows x 19 columns]

In [34]:
prophet_predmem.head()

                   ds     trend  ...  multiplicative_terms_upper      yhat
0 2013-06-30 22:03:24  1.413900  ...                         0.0  0.844070
1 2013-06-30 22:08:24  1.421292  ...                         0.0  0.849631
2 2013-06-30 22:13:24  1.428683  ...                         0.0  0.854636
3 2013-06-30 22:18:24  1.436074  ...                         0.0  0.859124
4 2013-06-30 22:23:24  1.443466  ...                         0.0  0.863136

[5 rows x 19 columns]

In [35]:
len(prophet_predmem)

20223

In [36]:
splitpredmem=prophet_predmem.iloc[len(prophet_predmem)-5000:]
len(splitpredmem)

5000

Evaluation Metrics

In [37]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(test_data_mem['y'], splitpredmem['yhat'])

2.977182828969469

In [ ]:
from sklearn.metrics import mean_squared_error
from math import sqrt
rmse=sqrt(mean_squared_error(test_data_mem['y'], splitpredmem['yhat']))
rmse

3.98274327867045

Forecasting data for next three months with scale of one hour

In [ ]:
m2 = Prophet(daily_seasonality=True)
m2.fit(train_data_mem)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.

In [ ]:
future2 = m2.make_future_dataframe(periods=2160, freq='H')
forecast2 = m2.predict(future2)
forecast2.tail()

                       ds      trend  ...  multiplicative_terms_upper       yhat
22375 2013-12-11 07:45:05  12.353235  ...                         0.0  12.692467
22376 2013-12-11 08:45:05  12.357629  ...                         0.0  12.937492
22377 2013-12-11 09:45:05  12.362023  ...                         0.0  12.988799
22378 2013-12-11 10:45:05  12.366417  ...                         0.0  12.992513
22379 2013-12-11 11:45:05  12.370811  ...                         0.0  13.121152

[5 rows x 19 columns]

In [ ]:
forecast2.head()

                   ds     trend  ...  multiplicative_terms_upper      yhat
0 2013-06-30 22:03:24  1.413900  ...                         0.0  0.844070
1 2013-06-30 22:08:24  1.421292  ...                         0.0  0.849631
2 2013-06-30 22:13:24  1.428683  ...                         0.0  0.854636
3 2013-06-30 22:18:24  1.436074  ...                         0.0  0.859124
4 2013-06-30 22:23:24  1.443466  ...                         0.0  0.863136

[5 rows x 19 columns]

In [ ]:
len(forecast2)

22380

In [ ]:
split1=forecast2.iloc[len(forecast2)-2160:]
len(split1)

2160

In [ ]:
fbpredmem ['Timestamp'] = pd.DataFrame(split1, columns=['ds'])
fbpredmem.head()

                       ds           Timestamp
20220 2013-09-12 12:45:05 2013-09-12 12:45:05
20221 2013-09-12 13:45:05 2013-09-12 13:45:05
20222 2013-09-12 14:45:05 2013-09-12 14:45:05
20223 2013-09-12 15:45:05 2013-09-12 15:45:05
20224 2013-09-12 16:45:05 2013-09-12 16:45:05

In [ ]:
del fbpredmem['ds']

In [ ]:
fbpredmem = fbpredictedcpu[['predicted_cpu_usage [%]']]
fbpredmem['predicted_memory_usage [%]'] = split1[['yhat']]

In [ ]:
fbpredmem['CPU capacity provisioned [MHZ]'] = 5851.9989
fbpredmem.head()

       predicted_cpu_usage [%]  ...  CPU capacity provisioned [MHZ]
20220                 2.291424  ...                       5851.9989
20221                 2.598014  ...                       5851.9989
20222                 2.631008  ...                       5851.9989
20223                 2.307661  ...                       5851.9989
20224                 1.793925  ...                       5851.9989

[5 rows x 3 columns]

In [ ]:
fbpredmem['Memory capacity provisioned [KB]'] = 8218624.0
fbpredmem.head()

       predicted_cpu_usage [%]  ...  Memory capacity provisioned [KB]
20220                 2.291424  ...                         8218624.0
20221                 2.598014  ...                         8218624.0
20222                 2.631008  ...                         8218624.0
20223                 2.307661  ...                         8218624.0
20224                 1.793925  ...                         8218624.0

[5 rows x 5 columns]

In [ ]:
fbpredmem['CPU usage [MHZ]'] = (fbpredmem['predicted_cpu_usage [%]'].mul(fbpredmem['CPU capacity provisioned [MHZ]']/100))
fbpredmem.head()

       predicted_cpu_usage [%]  ...  CPU usage [MHZ]
20220                 2.291424  ...       134.094095
20221                 2.598014  ...       152.035771
20222                 2.631008  ...       153.966587
20223                 2.307661  ...       135.044317
20224                 1.793925  ...       104.980443

[5 rows x 6 columns]

In [ ]:
fbpredmem['Memory usage [KB]']=(fbpredmem['predicted_memory_usage [%]'].mul(fbpredmem['Memory capacity provisioned [KB]']/100))

In [ ]:
fbpredmem['RMSE_CPU'] = 2.40698

In [ ]:
fbpredmem['MAE_CPU'] = 1.67410

In [ ]:
fbpredmem['RMSE_Memory'] = 3.98274

In [ ]:
fbpredmem['MAE_Memory'] = 2.97718

In [ ]:
fbpredmem['Model'] = 'FB Prophet'

In [ ]:
fbpredmem['VM'] = 1

In [ ]:
fbpredmem['CPU cores'] =2

In [ ]:
fbpredmem['Timestamp']=fbpredictedcpu[['Timestamp']]

In [ ]:
fbpredmem

       predicted_cpu_usage [%]  predicted_memory_usage [%]  ...  VM CPU cores
20220                 2.291424                    3.936709  ...   1         2
20221                 2.598014                    4.205725  ...   1         2
20222                 2.631008                    4.231883  ...   1         2
20223                 2.307661                    3.927900  ...   1         2
20224                 1.793925                    3.427389  ...   1         2
...                        ...                         ...  ...  ..       ...
22375                 8.586864                   12.692467  ...   1         2
22376                 8.743195                   12.937492  ...   1         2
22377                 8.693179                   12.988799  ...   1         2
22378                 8.631884                   12.992513  ...   1         2
22379                 8.759108                   13.121152  ...   1         2

[2160 rows x 14 columns]

In [ ]:
fbpredmem.to_csv(r'/content/fb.csv', index = False)